<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tecnico.css') }}">
</head>
<body>
    <h1>Gestión de Inventario</h1>
    <a href="{{ url_for('tecnico_menu') }}"><button>Volver al menu</button></a> 
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id_item }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.cantidad }}</td>
                <td>
                    <form action="{{ url_for('reducir_inventario', id_item=item.id_item) }}" method="post" style="display: inline;">
                        <button type="submit">Reducir</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
</body>
</html>