<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicio Técnico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cliente.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Servicio Técnico</h1>
        <form method="POST">
            <label for="descripcion">Descripción de la Falla:</label>
            <textarea name="descripcion" placeholder="Escribe aquí la descripción..." id="descripcion" required></textarea><br>

            <label for="marca">Marca del Dispositivo:</label>
            <input type="text" name="marca" id="marca" required><br>

            <button type="submit">Enviar</button>
        </form>

        <a href="{{ url_for('cliente_menu') }}"><button class="back-button">Volver al menú</button></a>
    </div>
</body>
</html>