
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú tecnico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tecnico.css') }}">
</head>
<body>
    <header>
        <h2>Bienvenido Tecnico {{ current_user.nombre }}</h2>
        <nav>
            <ul>
                <li><a href="{{ url_for('ordenes_asignadas') }}"><button>Ordenes Asignadas</button></a></li>
                <li><a href="{{ url_for('inventario') }}"><button>Inventario</button></a></li>
                <li><a href="{{ url_for('logout') }}"><button>Cerrar Sesion</button></a></li>
            </ul>
        </nav>
    </header>
</body>
</html>